/*
 *generation date:${genDate}
 *tool version:${genToolVersion}
 *template version:4.1.1
 */
#set( $SYSNAME = $sysName.toUpperCase() )

#foreach ( $import in $model.imports)
#import "${import.getName4Cocoa()}.h"
#end
#import "${SYSNAME}${model.className}.h"


@implementation ${SYSNAME}${model.className}

#foreach ($field IN $model.fields)
#*		*##if ($field.typeIsParameterizedType4Cocoa())
+ (Class)${field.getFieldName()}ElementClass{
	return  $field.getFieldTypeArgument4Cocoa() ;
}
#*		*##end
#end

#foreach ($method in $model.methods)
##
-(id)##
##
#*		*##if ($method.getParamCount() == 0)
$method.getMethodName()
#*		*##elseif ($method.getParamCount() == 1)
#*				*##if ($method.paramTypeIsPrimitive4Cocoa(0))
$method.getMethodName():($method.getParamType4Cocoa(0) )$method.getParamName(0)	
#*			  *##else
$method.getMethodName():($method.getParamType4Cocoa(0) *)$method.getParamName(0) 
#*			  *##end
#*		*##else
#*				*##if ($method.paramTypeIsPrimitive4Cocoa(0))
$method.getMethodName():($method.getParamType4Cocoa(0) )$method.getParamName(0)	
#*			  *##else
$method.getMethodName():($method.getParamType4Cocoa(0) *)$method.getParamName(0)	
#*			  *##end
##			
#*			  *##set( $count = $method.getParamCount() - 1 )
#*			  *##set( $arr = [1..$count] )
#*			  *##foreach( $i in $arr )			
#*					  *##if ($method.paramTypeIsPrimitive4Cocoa($i))
				$method.getParamName($i):($method.getParamType4Cocoa($i) )$method.getParamName($i)
#*					  *##else 
				$method.getParamName($i):($method.getParamType4Cocoa($i) *)$method.getParamName($i)
#*					  *##end	
#*				*##end		 
#*		*##end
{
	ASRpcMethod *method = [[ASRpcMethod alloc] init];
	method.operationType = @${method.getOpType()};
	method.checkLogin =#if ($method.isCheckLogin()) YES #else NO #end;
	method.returnType = @"$method.getReturnTypeSymbol4Cocoa()"; 
#*		*##if ($method.returnTypeIsParameterizedType4Cocoa())##
	method.elementClass = $method.getReturnTypeArgument4Cocoa();
#*		*##end

#*		*##if ($method.needReturn())
	return ##
#*				*##if ($method.returnTypeIsPrimitive4Cocoa())
[ ##
#*				*##end
#*		*##else
	##
#*		*##end  
#*		*##if ($method.getParamCount() == 0)
[[ASRpcClient defaultClient] asExecuteMethod:method params:nil];
#*		*##else  
[[ASRpcClient defaultClient] asExecuteMethod:method params:@[
#*				*##set( $count = $method.getParamCount() - 1 )
#*				*##set( $arr = [0..$count] )
#*				*##foreach( $i in $arr )
#*						*##if ($i == 0)
		$method.getParamNameObject($i) ? $method.getParamNameObject($i) : [NSNull null]##
#*						*##else##
,
		$method.getParamNameObject($i) ? $method.getParamNameObject($i) : [NSNull null]##
#*						*##end			
#*				*##end
 ] ]##
#*	        	*##if ($method.returnTypeIsPrimitiveAndNotVoid4Cocoa())
 $method.primitiveReturnTypeValueMethodName() ]##
#*	        	*##end
 ;	
#*		*##end
}

#end                       
@end
	
	
